   <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="./index.html">たてがき言葉</a>
          <div class="nav-collapse collapse">
            
                <h2 id="discription">サイトの説明説明説明</h2>
          </div>
        </div>
      </div>
    </div>